<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <span>
        <button type="button">
            <a th:href="@{/home}">Home</a>
        </button>
        <button onclick="goBack()">Back</button>
  </span>
    <h1>ADDRESS LIST</h1>
    </br>
    <a  sec:authorize="hasAuthority('ADMIN')" href="/address/new"> <i class="fa fa-plus"></i>&nbsp;Add address</a>
    </br>
    <table>
        <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th  sec:authorize="hasAuthority('ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.addressname}"></td>
            <td th:text="${address.city.city_name}"></td>
            <td><a  sec:authorize="hasAuthority('ADMIN')" th:href="${'/address/delete/' + address.id}"
                    onclick="return confirmDelete();">Delete</a></td>
            <td><a  sec:authorize="hasAuthority('ADMIN')" th:href="${'/address/update/' + address.id}">Update</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
    function confirmDelete() {
        return confirm("Are you sure?");
    }
</script>
</body>
</html>