<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
    <!--    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="container">
    <span>
        <button type="button">
           <a style="color: white; text-decoration: none;" th:href="@{/home}" th:text="#{label.home}"></a>
        </button>
        <button onclick="goBack()" th:text="#{button.back}"></button>
    </span>
    <h1 th:text="#{label.contractsCaps}"></h1>
    </br>
    <a th:text="#{label.addcontract}" sec:authorize="hasAuthority('ADMIN')" href="/contracts/new"></a>
    </br>
    <table id="contractTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th th:text="#{label.id}"></th>
                <th th:text="#{label.contractType}"></th>
                <th th:text="#{label.households}"></th>
                <th th:text="#{label.service}"></th>
                <th th:text="#{label.status}"></th>
                <th th:text="#{label.actions}" sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${#messages.msg(contract.getContractType().name)}"></td>
            <td th:text="${contract.getHousehold().adresa}"></td>
            <td th:text="${#messages.msg(contract.getServiceSP().serviceType.naziv)}"></td>
            <td th:text="${#messages.msg(contract.getStatus())}"
                th:style="${contract.getStatus().toString().equals('ACTIVE')} ? 'color: green;' : 'color: red;'">
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a th:text="#{label.viewDetails}" th:href="@{/contracts/{id}(id=${contract.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
    console.log("loading datatable...");
    new DataTable('#contractTable');
    console.log("loading finished...");
</script>
</body>
</html>