<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
    <!--    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div class="container">
    <span>
        <button type="button">
            <a th:href="@{/home}">Home</a>
        </button>
        <button onclick="goBack()">Back</button>
    </span>
    <h1>CONTRACTS</h1>
    </br>
    <a sec:authorize="hasAuthority('ADMIN')" href="/contracts/new"> <i class="fa fa-plus"></i>&nbsp;Add contract</a>
    </br>
    <table id="contractTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Contract type</th>
                <th>Household</th>
                <th>Service</th>
                <th>Status</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.getContractType().name}"></td>
            <td th:text="${contract.getHousehold().adresa}"></td>
            <td th:text="${contract.getServiceSP().serviceType.naziv}"></td>
            <td th:text="${contract.getStatus()}"
                th:style="${contract.getStatus().toString().equals('ACTIVE')} ? 'color: green;' : 'color: red;'">
            </td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/contracts/{id}(id=${contract.id})}"
                   class="btn btn-primary">View Details</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
    console.log("loading datatable...");
    new DataTable('#contractTable');
    console.log("loading finished...");
</script>
</body>
</html>