<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <button onclick="goBack()" th:text="#{button.back}"></button>
    <h1 th:text="#{label.contractDetails}"></h1>
    <table>
<!--        <tr>-->
<!--            <td th:text="#{label.id} + ': '"></td>-->
<!--            <td th:text="${contract.id}"/>-->
<!--        </tr>-->
        <tr>
            <td th:text="#{label.contractType} + ': '"></td>
            <td th:text="${#messages.msg(contract.getContractType().name)}"/>
        </tr>
        <tr>
            <td th:text="#{label.household} + ': '"></td>
            <td th:text="${contract.getHousehold().adresa}">
            <td th:each="owner : ${contract.household.vlasnik}">
                <span th:text="${owner.ime}"></span> <span th:text="${owner.prezime}"></span>
            </td>
            </td>
        </tr>
        <tr>
            <td th:text="#{label.service} + ': '"></td>
            <td th:text="${#messages.msg(contract.getServiceSP().serviceType.naziv)}"/>
<!--            <td th:text="${contract.getServiceSP().serviceType.naziv}"/>-->
        </tr>
        <tr>
            <td th:text="#{label.startdate} + ': '"></td>
            <td th:text="${contract.getStart_date()}"/>
        </tr>
        <tr>
            <td th:text="#{label.enddate} + ': '"></td>
            <td th:text="${contract.getEnddate()}"/>
        </tr>
        <tr>
            <td th:text="#{label.status} + ': '"></td>
            <td th:text="${#messages.msg(contract.status)}"
                th:style="${contract.status.toString().equals('ACTIVE')} ? 'color: green;' : 'color: red;'">
            </td>
        </tr>
    </table>
<a th:href="${'/contracts/delete/' + contract.id}" onclick="return confirmDelete();" th:text="#{label.delete}"></a>
</div>
<script>
    function goBack() {
        window.history.back();
    }
    function confirmDelete() {
        return confirm("Are you sure?");
    }
</script>
</body>
</html>