<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>ENERGENT</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
    function showDropInfo() {
        var selectElement = document.getElementById("locales");
        var selectedOptionText = selectElement.options[selectElement.selectedIndex].text;
        document.getElementById("selectedOptionDisplay").textContent = selectedOptionText;
    }

</script>
<div class="nav">
    <a sec:authorize="isAuthenticated()" th:text="#{label.hi} +','"></a>
    <a sec:authorize="isAuthenticated()" sec:authentication="name" style="color:red; text-transform: uppercase;"></a>
    <a th:href="@{/serviceproviders}" th:text="#{label.serviceProviders}"></a>
    <a th:href="@{/services}"  th:text="#{label.services}"></a>
    <a th:href="@{/contracts}" th:text="#{label.contracts}"></a>
    <a th:href="@{/households}" th:text="#{label.households}"></a>
    <a th:href="@{/owners}" th:text="#{label.owners}"></a>
    <a th:href="@{/address}" th:text="#{label.address}"></a>
    <a th:href="@{/country}" th:text="#{label.country}"></a>
    <a th:href="@{/about}" th:text="#{label.about}"></a>
    <a sec:authorize="hasAnyAuthority('ADMIN' )" th:href="@{/users}" th:text="#{label.users}" ></a>
    <a sec:authorize="anonymous" th:href="@{/login}" style="text-align: right; margin-left: 4vw;" th:text="#{label.login}"></a>
    <a sec:authorize="hasAnyAuthority('ADMIN', 'ROLE_USER')" style="text-align: right; margin-left: 4vw;"
       th:href="@{/logout}" th:text="#{label.logout}"></a>
<!--    <span th:text="#{lang.change}"></span>:-->
    <select style="text-align: right; margin-left: 4vw;" id="locales" onchange="showDropInfo()">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="hr" th:text="#{lang.hr}"></option>
    </select>
</div>
<div class="center">
    <img th:src="@{/styles/energy.png}" class="starlarge" alt="star">
    <h1>ENERGENT</h1>
    <h3><a th:text="#{label.homepagetext}"/></h3>
</div>
</body>
</html>