<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENERGENT</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <img th:src="@{/redstar.png}" class="star" alt="star">
        <a th:href="@{/serviceproviders}">Service Providers</a>
        <a th:href="@{/services}">Services</a>
        <a th:href="@{/households}">Households</a>
        <a th:href="@{/owners}">Owners</a>
        <a th:href="@{/country}">Country</a>
        <a th:href="@{/about}">About</a>
        <img th:src="@{/redstar.png}" class="star" alt="star">
    </div>
    <div class="center">
        <img th:src="@{/redstar.png}" alt="star">
        <h1>ENERGENT</h1>
        <h3>Najbolja reprezentativna firma domaćeg uzgoja s dugogodišnjom tradicijom u polju opskrbe
            kućnih energenata.</h3>
    </div>
</body>
</html>