<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Households</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <span>
        <button type="button">
            <a style="color: white; text-decoration: none;" th:href="@{/home}" th:text="#{label.home}"></a>
        </button>
        <button onclick="goBack()" th:text="#{button.back}">Back</button>
    </span>
    <h1 th:text="#{label.householdscaps}"></h1>
    </br>
    <a sec:authorize="hasAnyAuthority('ADMIN', 'ROLE_USER','EDITOR', 'MANAGER', 'SUPERUSER')" href="/households/new" th:text="#{label.addhousehold}"></a>
    </br>
    <table>
        <thead>
        <tr>
            <th  th:text="#{label.id}"></th>
            <th  th:text="#{label.currentaddress}"></th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'ROLE_USER','EDITOR', 'MANAGER', 'SUPERUSER')"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="household : ${households}">
            <td th:text="${household.id}"></td>
            <td th:text="${household.adresa}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'ROLE_USER','EDITOR', 'MANAGER', 'SUPERUSER')">
                <a th:href="@{/households/{id}(id=${household.id})}" th:text="#{label.viewDetails}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>