<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Household details</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet" />
</head>
<body>
<div>
    <button onclick="goBack()" th:text="#{button.back}"></button>
    <h1 th:text="#{label.householddetails}"></h1>
    <table>
        <tr>
            <td th:text="#{label.id}"></td>
            <td th:text="${household.id}"/>
        </tr>
        <tr>
            <td th:text="#{label.currentaddress}">Address:</td>
            <td th:text="${household.adresa}"/>
        </tr>
    </table>
    <h2 th:text="#{label.owners}"></h2>
    <table>
        <tr th:each="owner : ${household.vlasnik}"  >
            <td th:text="${owner.ime} + ' ' + ${owner.prezime}"/>
        </tr>
    </table>
</div>
<a th:href="${'/households/delete/' + household.id}" onclick="return confirmDelete();" th:text="#{label.delete}"></a>
<script>
    function goBack() {
        window.history.back();
    }
    function confirmDelete() {
        return confirm("Are you sure?");
    }
</script>
</body>
</html>