<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <br/>
    <button type="button">
        <a th:href="@{/home}">Home</a>

    </button>
    <br/>
    <h1>LOGIN</h1>
    <br/>
    <form th:action="@{/login}" method="post">
        Username:
        <br/>
        <input type="text" id="username" name="username" autofocus="autofocus"/>
        <br/>
        Password:
        <br/>
        <input type="password" id="password" name="password"/>
        <br/>
        <button type="button">
            <input type="submit" value="Log in"/>

        </button>
    </form>
    <br/>
    First time visiting?
    <a th:href="@{/register/new}">Register</a>
</div>
</body>
</html>