<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <br/>
    <button type="button">
        <a style="color: white; text-decoration: none;" th:href="@{/home}" th:text="#{label.home}"></a>
    </button>
    <br/>
    <h1 th:text="#{label.login}"></h1>
    <br/>
    <form th:action="@{/login}" method="post">
<!--        Username:-->
        <a th:text="#{label.userName}"/>
        <br/>
        <input type="text" id="username" name="username" autofocus="autofocus"/>
        <br/>
        <br/>
<!--        Password:-->
        <a th:text="#{label.password}"/>
        <br/>
        <input type="password" id="password" name="password"/>
        <br/>

        <button type="submit" th:text="#{button.submit}"  ></button>
    </form>
    <br/>
    <a th:text="#{label.firsttime}"/>
    <a th:href="@{/register/new}" th:text="#{label.register}"></a>
</div>
</body>
</html>