<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New address</title>
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h1 th:text="#{label.newaddresscaps}"></h1>
  <button onclick="goBack()" th:text="#{button.back}"></button>
  </br>
  <form th:action="@{/address/new}" th:object="${newaddress}" method="post">
    <div>
      <p th:text="#{label.addressname} + ':'"></p>
      <input type="text" th:field="*{addressname}"/>
      </br>

      <p th:text="#{label.city} + ':'"></p>
      </br>
      <select th:field="*{city}">
        <option th:each="onecity : ${cities}"
                th:value="${onecity.id}"
                th:text="${onecity.city_name}">
        </option>
      </select>
      </br>

      <button type="submit" value="Save"  th:text="#{label.save}"></button>
    </div>
  </form>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>