<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{label.newContractCaps}"></h1>
    <button onclick="goBack()" th:text="#{button.back}"></button>
    </br>
    <form th:action="@{/contracts/new}" th:object="${contract}" method="post">
        <div>

            <p th:text="#{label.contractType} + ': '"></p>
            </br>
            <select th:field="*{contractType}">
                <option th:each="types : ${contracttypes}"
                        th:value="${types.id}"
                        th:text="${types.name}">
                </option>
            </select>
            </br>

            <p th:text="#{label.household} + ': '"></p>
            </br>
            <select th:field="*{household}">
                <option th:each="house : ${households}"
                        th:value="${house.id}"
                        th:text="${house.adresa}">
                </option>
            </select>
            </br>

            <p th:text="#{label.service} + ': '"></p>
            </br>
            <select th:field="*{serviceSP}">
                <option th:each="service : ${servicesps}"
                        th:value="${service.id}"
                        th:text="${service.serviceType.naziv}">
                </option>
            </select>
            </br>

            <p th:text="#{label.startdate} + ': '"></p>
            <input type="text" th:field="*{start_date}"/>
            </br>

            <p th:text="#{label.enddate} + ': '"></p>
            <input type="text" th:field="*{enddate}"/>
            </br>

            <select th:field="*{status}">
                <option th:each="status : ${statuslist}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>

<!--            <select th:field="*{status}">-->
<!--                <option th:each="statusItem : ${statuslist}" th:switch="${statusItem}">-->
<!--                <option th:case="'ACTIVE'" th:value="${statusItem}" th:text="#{label.activecontract}"></option>-->
<!--                <option th:case="'INACTIVE'" th:value="${statusItem}" th:text="#{label.inactivecontract}"></option>-->

<!--                </option>-->
<!--            </select>-->

            <button th:text="#{label.save}" type="submit" value="Save"></button>
        </div>
    </form>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>