<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New owner</title>
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{label.newhouseholdcaps}"></h1>
    <button onclick="goBack()" th:text="#{button.back}"></button>
    </br>
    <form th:action="@{/households/new}" th:object="${household}" method="post">
        <div>
            <p th:text="#{label.currentaddress} + ': '"></p>
            <input type="text" th:field="*{adresa}"/>
            </br>

            <p th:text="#{label.owner} + ': '"></p>
            </br>
            <select th:field="*{vlasnik}">
                <option th:each="owner : ${owners}"
                        th:value="${owner.id}"
                        th:text="${owner.ime} + ' ' + ${owner.prezime}">
                </option>
            </select>

            <button type="submit" value="Save" th:text="#{label.save}"></button>
        </div>
    </form>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>