<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novi owner</title>
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{label.newOwnerCaps}"></h1>
    <button onclick="goBack()" th:text="#{button.back}"></button>
    </br>
    <form th:action="@{/owners/new}" th:object="${owner}" method="post">
        <div>
            <p th:text="#{label.firstName} + ':'"></p>
            <input type="text" th:field="*{ime}"/>
            </br>
            <p th:text="#{label.lastName} + ':'"></p>
            <input type="text" th:field="*{prezime}"/>
            </br>
            <p th:text="#{label.dateOfBirth} + ':'"></p>
            <input type="text" th:field="*{datumRodenja}"/>
            </br>
            <p th:text="#{label.pinnumber} + ':'"></p>
            <input type="text" th:field="*{oib}"/>
            </br>
            <button type="submit" value="Save" th:text="#{label.save}"></button>
        </div>
    </form>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>