<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider</title>
  <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h1 th:text="#{label.newServiceProvider}"></h1>
  <button onclick="goBack()" th:text="#{button.back}"></button>
  <form th:action="@{/serviceproviders/new}" th:object="${provider}" method="post">
    <div>
      </br>
      <p th:text="#{label.name}"></p>
      <input type="text" th:field="*{naziv}"/>
      </br>

      <p th:text="#{label.addaddress}"></p>
      </br>
      <select th:field="*{adresa}">
        <option th:each="address : ${addresses}"
                th:value="${address.id}"
                th:text="${address.getAddressname}">
        </option>
      </select>

      <button type="submit" value="Save" th:text="#{label.save}"></button>
    </div>
  </form>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>

</body>
</html>