<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{label.newservicecaps}"></h1>
    <button onclick="goBack()" th:text="#{button.back}"></button>
    <form th:action="@{/services/new}" th:object="${servicesp}" method="post">
        <div>

            <p th:text="#{label.serviceProviders}"></p>
            </br>
            <select th:field="*{serviceProvider}">
                <option th:each="provider : ${providers}"
                        th:value="${provider.id}"
                        th:text="${provider.naziv}">
                </option>
            </select>
            </br>

            <p th:text="#{label.serviceType}"></p>
            </br>
            <select th:field="*{serviceType}">
                <option th:each="type : ${servicetypes}"
                        th:value="${type.id}"
                        th:text="${#messages.msg(type.naziv)}">
                </option>
            </select>
            </br>

            <p th:text="#{label.price}+ ',' + #{label.currenyEUR} "></p>
            </br>
            <input type="text" name ="price" th:field="*{price}"/>

            <button type="submit" value="Save" th:text="#{label.save}"></button>
        </div>
    </form>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>