<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="center">
        <h1 th:text="#{label.newUserCaps}"></h1>
        <button onclick="goBack()" th:text="#{button.back}"></button>
        </br>
        <form th:action="@{/users/new}" th:object="${user}" method="post">
            <div>

                <p th:text="#{label.userName} + ': '"></p>
                <input type="text" th:field="*{username}"/>
                </br>

                <p th:text="#{label.password} + ': '"></p>
                <input type="text" th:field="*{password}"/>

                <button type="submit" value="Save" th:text="#{label.save}"></button>
            </div>
        </form>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>