<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <span>
        <button type="button">
            <a style="color: white; text-decoration: none;" th:href="@{/home}" th:text="#{label.home}"></a>
        </button>
        <button onclick="goBack()" th:text="#{button.back}">Back</button>
    </span>
    <h1 th:text="#{label.ownerscaps}"></h1>
    </br>
    <a sec:authorize="hasAuthority('ADMIN')" href="/owners/new" th:text="#{label.addowner}"></a>
    </br>
    <table>
        <thead>
        <tr>
            <th th:text="#{label.firstName}"></th>
            <th th:text="#{label.lastName}"></th>
            <th sec:authorize="hasAuthority('ADMIN')"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.ime}"></td>
            <td th:text="${owner.prezime}"></td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/owners/{id}(id=${owner.id})}"  th:text="#{label.viewDetails}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>