<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Providers</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <span>
        <button type="button">
            <a style="color: white; text-decoration: none;" th:href="@{/home}" th:text="#{label.home}"></a>
        </button>
        <button onclick="goBack()" th:text="#{button.back}"></button>
  </span>

    <h1 th:text="#{label.serviceProvidersCaps}"></h1>
    </br>
    <a sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR', 'MANAGER', 'SUPERUSER')" href="/serviceproviders/new" th:text="#{label.addServiceProvider}"></a>
    </br>
    <table>
        <thead>
        <tr>
            <th th:text="#{label.name}"></th>
            <th th:text="#{label.city}"></th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR', 'MANAGER', 'SUPERUSER')"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prov : ${providers}">

            <td th:title="${prov.adresa.getAddressname()}" class="tooltip">
                <a th:text="${prov.naziv}"></a>
            </td>

            <td th:title="${prov.adresa.getCity().getCountry().name}" class="tooltip">
                <a th:text="${prov.adresa.getCity().getCity_name()}"></a>
            </td>
            <td><a sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR', 'MANAGER', 'SUPERUSER')"
                   th:href="@{/serviceproviders/{id}(id=${prov.id})}" class="btn btn-primary"
                   th:text="#{label.viewDetails}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>