<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Providers</title>
    <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <span>
        <button type="button">
            <a th:href="@{/home}">Home</a>
        </button>
        <button onclick="goBack()">Back</button>
  </span>

    <h1>SERVICE PROVIDERS</h1>
    </br>
    <a sec:authorize="hasAuthority('ADMIN')" href="/serviceproviders/new"> <i class="fa fa-plus"></i>&nbsp;Add Service Provider</a>
    </br>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>City name</th>
            <th sec:authorize="hasAuthority('ADMIN')"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prov : ${providers}">

            <td th:title="${prov.adresa.getAddressname()}" class="tooltip">
                <a th:text="${prov.naziv}"></a>
            </td>

            <td th:title="${prov.adresa.getCity().getCountry().name}" class="tooltip">
                <a th:text="${prov.adresa.getCity().getCity_name()}"></a>
            </td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/serviceproviders/{id}(id=${prov.id})}" class="btn btn-primary">View Details</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>