<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/styles/register.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="center">
        <h1 th:text="#{label.registration}"></h1>
        </br>
        <button onclick="goBack()" th:text="#{button.back}"></button>
        <form th:action="@{/register/new}" th:object="${registeruser}" method="post">
            <div>
        <p th:if="${errorMessage}">
            <a th:text="${errorMessage}"></a>
        </p>
                <a th:text="#{label.userName}"/>
                </br>
                <input type="text" th:field="*{username}"/>
                </br>
                <a th:text="#{label.password}"/>
                </br>
                <input type="password" th:field="*{password}"/>

                <button type="submit" th:text="#{button.register}"></button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>