<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link th:href="@{/styles/register.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h1>REGISTER</h1>
  <button onclick="goBack()">Back</button>
  <form th:action="@{/register/new}" th:object="${registeruser}" method="post">
    <div>

      Username:
      <input type="text" th:field="*{username}"/>
      </br>

      Password:
      </br>
      <input type="text" th:field="*{password}"/>

      <div th:if="${usernameTaken}" class="error-message">
        This username is already taken. Please choose a different one.
      </div>

      <button type="submit" value="Save">Register</button>
    </div>
  </form>
</div>
<script  th:inline="javascript">
  function goBack() {
    window.history.back();
  }
  var usernameTaken = [[${usernameTaken}]];

  if (usernameTaken) {
    alert("This username is already taken. Please choose a different one.");
  }
</script>
</body>
</html>