<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
  <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <span>
    <button type="button">
            <a th:href="@{/home}">Home</a>
    </button>
    <button onclick="goBack()">Back</button>
  </span>
  <h1>SERVICES</h1>
  </br>
  <a sec:authorize="hasAuthority('ADMIN')" href="/services/new"> <i class="fa fa-plus"></i>&nbsp;Add service</a>
  </br>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Service Provider</th>
      <th>Service Type</th>
      <th>Price, EUR</th>
      <th sec:authorize="hasAuthority('ADMIN')"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
      <td th:text="${service.id}"></td>
      <td th:text="${service.serviceProvider.naziv}"></td>
      <td th:text="${service.serviceType.naziv}"></td>
      <td th:text="${service.price} + ' €'"></td>
      <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/services/{id}(id=${service.id})}" class="btn btn-primary">View Details</a></td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>