<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
  <link th:href="@{/styles/tablesList.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <span>
    <button type="button">
            <a style="color: white; text-decoration: none;" th:href="@{/home}" th:text="#{label.home}"></a>
    </button>
    <button onclick="goBack()" th:text="#{button.back}"></button>
  </span>
  <h1 th:text="#{label.servicescaps}"></h1>
  </br>
  <a sec:authorize="hasAuthority('ADMIN')" href="/services/new" th:text="#{label.addservice}"></a>
  </br>
  <table>
    <thead>
    <tr>
      <th th:text="#{label.id}"></th>
      <th th:text="#{label.serviceProviders}"></th>
      <th th:text="#{label.serviceType}"></th>
      <th  th:text="#{label.price} + ', ' + #{label.currenyEUR}"></th>
      <th sec:authorize="hasAuthority('ADMIN')"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
      <td th:text="${service.id}"></td>
      <td th:text="${service.serviceProvider.naziv}"></td>
      <td th:text="${#messages.msg(service.serviceType.naziv)}"></td>
<!--      <td th:text="${service.serviceType.naziv}"></td>-->
      <td th:text="${service.price} + ' €'"></td>
      <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/services/{id}(id=${service.id})}" th:text="#{label.viewDetails}"></a></td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>