<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/styles/details.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h1 th:text="#{label.updateAddressCaps}"></h1>
  <button onclick="goBack()" th:text="#{button.back}"></button>
  <form th:action="@{/address/update}" th:object="${address}" method="post">
    <div>
      <p th:text="#{label.id} + ':'"></p>
      <input type="text" th:field="*{id}" th:value="*{id}" readonly/>

      <p th:text="#{label.addressname} + ':'"></p>
      <input type="text" th:field="*{addressname}" th:value="*{addressname}"/>
      </br>

      <p th:text="#{label.city} + ':'"></p>
      </br>
      <select th:field="*{city.id}">
        <option th:each="onecity : ${cities}"
                th:value="${onecity.id}"
                th:text="${onecity.city_name}">
        </option>
      </select>
      </br>

      <button type="submit" value="Save" th:text="#{label.update}"></button>
    </div>
  </form>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>